{% extends "crud/base.html" %}

{% block content %}
    <div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-center" style="height: 100vh;">
        <form method="post">
            {% csrf_token %}
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    {{ form.username }}
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    {{ form.password }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
