{% extends "page.html" %}
{% load widget_tweaks %}

{% block header %}
    {% include 'utils/title.html' with title='Ajouter un Jeu' %}
{% endblock %}

{% block page-content %}
    <div class="max-w-4xl mx-auto px-4 py-8">
        <form method="post" class="w-full">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="error">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="flex flex-wrap -mx-2 justify-center">
                <div class="px-2 w-2/4">
                    <label class="block text-sm font-bold mb-2" for="name">Nom du Jeu</label>
                    <div class="mt-1">
                        {{ form.name|add_class:"shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline  bg-opacity-40 bg-gray-700" }}
                        {% if form.name.errors %}
                            <div class="text">
                                {% for error in form.name.errors %}
                                    <p class="text-red-700 text-sm">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="px-2 w-1/4">
                    <label class="block text-sm mb-2" for="bgg_number">Numéro BGG</label>
                    <div class="mt-1">
                        {{ form.bgg_number|add_class:"shadow appearance-none border rounded w-full py-2 px-3  leading-tight focus:outline-none focus:shadow-outline bg-opacity-40 bg-gray-700" }}
                        <span class="text-[0.7em]">Ce numéro sert a créer un lien vers la page BGG du jeu.</span>
                    </div>
                </div>
            </div>

            <div class="border border-gray-300 " id="extensions-form-container">
                <h3 class="text-pixel text-glow text-xl">Extensions </h3>

                {{ extensions_form.management_form }}
                {% for form in extensions_form %}
                    <div class="extension-form px-2 w-full md:w-1/2 lg:w-1/4">
                        <div class="mt-1">
                            {{ form.name.label_tag }}
                            {{ form.name|add_class:"shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline bg-opacity-40 bg-gray-700" }}
                            {% if form.name.errors %}
                                <div class="text-red-700 text-sm">
                                    {% for error in form.name.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mt-1">
                            {{ form.bgg_number.label_tag }}
                            {{ form.bgg_number|add_class:"shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline bg-opacity-40 bg-gray-700" }}
                            {% if form.bgg_number.errors %}
                                <div class="text-red-700 text-sm">
                                    {% for error in form.bgg_number.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <span class="text-[0.7em]">Ce numéro sert a créer un lien vers la page BGG du jeu.</span>
                        </div>
                    </div>
                {% endfor %}
            
                <button type="button" id="add-extension">Ajouter une extension</button>

            </div>

            <div class="flex justify-end mt-4">
                <button type="submit"
                        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 bg-opacity-30">
                    Ajouter
                </button>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var addButton = document.getElementById('add-extension');
            var container = document.getElementById('extensions-form-container');
            var totalForms = document.getElementById('id_extensions-TOTAL_FORMS');
            var formCount = parseInt(totalForms.value - 1);

            addButton.addEventListener('click', function () {
                var newForm = container.querySelector('.extension-form:last-of-type').cloneNode(true);
                var formRegex = RegExp('extensions-(\\d+)-', 'g');

                formCount++;
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, 'extensions-' + formCount + '-');
                container.insertBefore(newForm, addButton);

                totalForms.setAttribute('value', formCount + 1);
            });
        });
    </script>



{% endblock %}


