{% extends "base.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">Détails du Jeu : {{ game.name }}</h1>
            <div class="box">
                <div class="content">
                    <p><strong>Nom du Jeu :</strong> {{ game.name }}</p>
                    <p><strong>Numéro BGG :</strong> {{ game.bgg_number }}</p>
                    <p><strong>Score Minimum :</strong> {{ game.score_min }}</p>
                    <p><strong>Score Maximum :</strong> {{ game.score_max }}</p>
                </div>
            </div>
            <a href="{% url 'add_game' %}" class="button is-primary">Ajouter un Jeu</a>
            <a href="{% url 'update_game' game.id %}" class="button is-primary">Modifier</a>
        </div>
    </section>
{% endblock %}
