{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="title">Liste des Jeux</h1>
        <div class="columns is-multiline">
            {% for game in games %}
                <div class="column is-one-third">
                    <div class="card" style="min-height: 160px">
                        <div class="card-content">
                            <p class="title">{{ game.name }}</p>
                            {% if game.bgg_number %}
                                <p class="subtitle is-size-7">
                                    <a href="https://boardgamegeek.com/boardgame/{{ game.bgg_number }}" target="_blank">
                                        Voir sur BoardGameGeek
                                    </a>
                                </p>
                            {% endif %}

                        </div>
                        <footer class="card-footer">
                            <a href="{% url 'update_game' game.id %}" class="card-footer-item">Modifier</a>
                        </footer>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container mt-6">
        <div class="box mt-6">
            <a href="{% url 'add_game' %}" class="button is-primary">Ajouter un Jeu</a>
        </div>
    </div>
{% endblock %}
