{% extends "page.html" %}

{% block header %}
    {% include 'utils/title.html' with title='Liste des Jeux' %}

    <a href="{% url 'add_game' %}"
       class="flex-none bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4">Ajouter un Jeu</a>
{% endblock %}

{% block page-content %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        {% for game in games %}
            <div class="mb-4 w-max-1/4">
                <div class="bg-blue-500 bg-opacity-10 shadow-lg rounded-lg overflow-hidden" style="min-height: 160px">
                    <div class="px-4 pt-2 flex justify-between items-start">
                        <p class="text-xl font-medium mb-2">{{ game.name }}</p>
                        {% if game.bgg_number %}
                            <a href="https://boardgamegeek.com/boardgame/{{ game.bgg_number }}" target="_blank"
                               class="text-[0.7em] text-pixel hover:text-orange-700 self-center ml-4">bgg↗</a>
                        {% endif %}
                    </div>
                    <div class="px-4">
                        and {{ game.extensions.all|length }} extensions
                    </div>
                    <div class="px-4 py-1">
                        <a href="{% url 'update_game' game.id %}"
                           class="bg-blue-500 bg-opacity-30 p-1 rounded hover:text-indigo-900">Modifier</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
