{% extends "page.html" %}
{% load widget_tweaks %}

{% block header %}
    {% include 'utils/title.html' with title='Modifier un Jeu' %}
{% endblock %}

{% block page-content %}
    <div class="max-w-4xl mx-auto px-4 py-8">
        <form method="post" class="w-full">
            {% csrf_token %}

            {% if form.errors %}
                <div class="error mb-4 text-red-700">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p><strong>{{ field.label }}:</strong> {{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {#        GAME          #}

            <div class="flex flex-wrap -mx-2 justify-center">
                <div class="px-2 w-2/4">
                    <label class="block text-sm font-bold mb-2" for="name">Nom du Jeu</label>
                    <div class="mt-1">
                        {{ form.name|add_class:"shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline  bg-opacity-40 bg-gray-700" }}
                        {% if form.name.errors %}
                            <div class="text">
                                {% for error in form.name.errors %}
                                    <p class="text-red-700 text-sm">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="px-2 w-1/4">
                    <label class="block text-sm mb-2" for="bgg_number">Numéro BGG</label>
                    <div class="mt-1">
                        {{ form.bgg_number|add_class:"shadow appearance-none border rounded w-full py-2 px-3  leading-tight focus:outline-none focus:shadow-outline bg-opacity-40 bg-gray-700" }}
                        <span class="text-[0.7em]">Ce numéro sert a créer un lien vers la page BGG du jeu.</span>
                    </div>
                </div>
            </div>


            {#        EXTENSIONS          #}
            <div class="border border-gray-300 p-2 mt-6 " id="extensions-form-container">
                <h3 class="text-pixel text-glow text-xl">Extensions </h3>

                {{ extensions_form.management_form }}



                {% for form in extensions_form.forms %}


                    {% for hidden in form.hidden_fields %}
                        {% if hidden.errors %}
                            <div class="text-red-700">{{ hidden.errors }}</div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}



                {% for form in extensions_form %}
                        <input type="checkbox" name="{{ form.DELETE.html_name }}" id="{{ form.DELETE.id_for_label }}"
                               class="form-check-input">
                        <label for="{{ form.DELETE.id_for_label }}" class="form-check-label">Supprimer</label>




                    {% if form.instance.id %}
                        ID:{{ form.instance.id }}
                        <input type="hidden" name="extensions-{{ forloop.counter0 }}-id" value="{{ form.instance.id }}"
                               id="id_extensions-{{ forloop.counter0 }}-id">
                    {% else %}
                        <input type="hidden" name="extensions-{{ forloop.counter0 }}-id"
                               id="id_extensions-{{ forloop.counter0 }}-id">
                    {% endif %}
                    <input type="hidden" name="extensions-{{ forloop.counter0 }}-game"
                           value="{{ form.instance.game.id }}" id="id_extensions-{{ forloop.counter0 }}-game">


                    <div id="extension-form-{{ forloop.counter0 }}"
                         class="extension-form p-2 w-full flex gap-2 items-center">

                        <div class="mt-1 w-full ">
                            <div class="block text-sm font-bold mb-2">
                                {{ form.name.label_tag }}
                            </div>
                            {{ form.name|add_class:"shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline  bg-opacity-40 bg-gray-700" }}
                            {% if form.name.errors %}
                                <div class="text-red-700 text-sm">
                                    {% for error in form.name.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="mt-1 w-1/4">
                            <div class="block text-sm mb-2">
                                {{ form.bgg_number.label_tag }}
                            </div>
                            {{ form.bgg_number|add_class:"shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline bg-opacity-40 bg-gray-700" }}
                            {% if form.bgg_number.errors %}
                                <div class="text-red-700 text-sm">
                                    {% for error in form.bgg_number.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>


                        <div class="block text-sm mb-2">
                            <button type="button"
                                    class="remove-extension inline-flex mt-6 items-center justify-center py-1 px-2 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
                                    data-form-id="extension-form-{{ forloop.counter0 }}">Supprimer
                            </button>
                        </div>
                    </div>
                {% endfor %}
                <button type="button" id="add-extension">Ajouter une extension</button>

            </div>


            {#                SUBMIT #}
            <div class="flex justify-end mt-4">
                <button type="submit"
                        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 bg-opacity-30">
                    Ajouter
                </button>

            </div>

        </form>
    </div>



    <div id="extension-form-template" style="display: none;">
        <div class="extension-form p-2 w-full flex gap-2 items-center">
            <div class="mt-1 w-full ">
                <div class="block text-sm font-bold mb-2">Nom de l'Extension</div>
                <input type="text" name="extensions-__prefix__-name"
                       class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline  bg-opacity-40 bg-gray-700"/>
            </div>
            <div class="mt-1 w-1/4">
                <div class="block text-sm mb-2">Numéro BGG</div>
                <input type="number" name="extensions-__prefix__-bgg_number"
                       class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline bg-opacity-40 bg-gray-700"/>
            </div>
            <button type="button"
                    class="remove-extension inline-flex mt-6 items-center justify-center py-1 px-2 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                Supprimer
            </button>
        </div>
    </div>


    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const addButton = document.getElementById('add-extension');
            const container = document.getElementById('extensions-form-container');
            const totalForms = document.getElementById('id_extensions-TOTAL_FORMS');
            const formTemplate = document.getElementById('extension-form-template').innerHTML;

            addButton.addEventListener('click', function () {
                let formCount = parseInt(totalForms.value);
                let newFormHtml = formTemplate.replace(/__prefix__/g, formCount);
                // Insère le nouveau formulaire juste avant le bouton "Ajouter une extension"
                addButton.insertAdjacentHTML('beforebegin', newFormHtml);
                totalForms.setAttribute('value', formCount + 1);
            });
            document.addEventListener('click', function (e) {
                if (e.target.classList.contains('remove-extension')) {
                    const formId = e.target.getAttribute('data-form-id'); // par exemple, "extension-form-0"
                    const form = document.getElementById(formId);

                    // Extraire l'index numérique de formId
                    const index = formId.split('-')[2]; // Cela suppose que formId est toujours dans le format "extension-form-N"
                    
                    console.log(index)

                    // Utiliser l'index pour construire le sélecteur correct
                    const deleteCheckbox = form.querySelector(`input[type="checkbox"][name="extensions-${index}-DELETE"]`);

                    console.log(deleteCheckbox);
                    if (deleteCheckbox) {
                        deleteCheckbox.checked = true;
                        form.style.display = 'none';
                    }
                }
            });

        
            function updateIndices() {
                const allForms = container.querySelectorAll('.extension-form');
                allForms.forEach((form, index) => {
                    form.querySelectorAll('input, select, textarea').forEach(input => {
                        const name = input.name.replace(/\d+/, index);
                        input.name = name;
                        const id = input.id.replace(/\d+/, index);
                        input.id = id;
                    });
                });
                totalForms.setAttribute('value', allForms.length);
            }
        })
        ;


    </script>



{% endblock %}


