{% extends "base.html" %}
{% load static %}

{% block base-content %}

    <script src="{% static 'js/leaderboard.js' %}"></script>

    <div class="leaderboard-main ">

    <div class="login-link">
        {% include "navbar.html" %}
    </div>

        <h1 class="lb-leaderboard-title is-size-1">Leaderboard</h1>
        <h1 class="lb-title is-size-2" id="game"></h1>
        <div id="extensions">

        </div>
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h2 class="title lb-title-light">All time</h2>
                    <div id="leaderboard-all-time" class="leaderboard-container ">
                    </div>
                </div>
                <div class="column">
                    <h2 class="title lb-title-light">This Year</h2>
                    <div id="leaderboard-year" class="leaderboard-container">

                    </div>
                </div>
                <div class="column">
                    <h2 class="title lb-title-light">This Month</h2>
                    <div id="leaderboard-month" class="leaderboard-container">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>

    </style>


    <script>

{% endblock %}