{% extends "base.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">Profil de {{ user.username }}</h1>
            <div class="box">
                <ul>
                    <li><strong>Nom d'utilisateur :</strong> {{ user.username }}</li>
                    {% if user.email %}
                        <li><strong>Email :</strong> {{ user.email }}</li>
                    {% endif %}
              score:   {{  user.score }}
                    <!-- Ajoute d'autres informations que tu souhaites afficher ici -->
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
